
footer { 
    text-align:center;
    justify-content: center;
    color: black;
    background-color: rgb(67, 129, 38);
    padding: 40px;
    margin: 0 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;

}

.redes {
    color: black;
    text-decoration: none;
    display:flexbox;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}
